<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styletwo.css">
    <title>Apex Chart</title>
    </head>

    <div id="quote-module">
        <div class="separator"></div>

        <h1 class="company-name"><span class="company-name"></span></h1>

        <div class="container large">
            <span class="last-price" th:text="${bigPrice}"></span>
            <span class="change"></span>
            <span class="change-percent"></span>
        </div>

        <div class="container">
            <div class="label">Range</div>
            <div class="data high-low">
                <span class="high val"></span>
                <span> - </span>
                <span class="low val"></span>
            </div>
            <div class="label">Open</div>
            <div class="data opening"></div>
            <div class="label">Volume</div>
            <div class="data volume"></div>
            <div class="label">Market Cap</div>
            <div class="data market-cap"></div>
        </div>

        <p class="time-stamp"> </p>

        <div class="container">
            <input type="text" placeholder="ticker symbol">
            <button type="button" class="get-value">Get New Quote</button>
        </div>
    </div>

<body>
<script type="module" src="./app.js"></script>
</body>
</html>